body {
    background-image: url(imgs/indir.jpeg)
}
.maindiv {
    background-color: aliceblue;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}
h2,p{
    color: rgb(102, 2, 89);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: rgb(102, 2, 89);
    text-align: center;
}
hr{
    background-color: blueviolet;
    height: 1px;
    border-color: blueviolet;
}
